<div class="app-container">
  <header class="title-bar">
    <button class="menu-button" (click)="toggleNav()">☰</button>
    <h1>AI-COS</h1>
    <button *ngIf="isLoggedIn" (click)="logout()" class="logout-btn">登出</button>
  </header>

  <div class="main-layout">
    <nav class="side-nav" [class.closed]="isNavClosed">
      <ul>
        <ng-container *ngIf="isLoggedIn">
          <li [routerLink]="'/dashboard'" routerLinkActive="active">
            <span class="text" *ngIf="!isNavClosed">主頁</span>
          </li>
          <li [routerLink]="'/history'" routerLinkActive="active">
            <span class="text" *ngIf="!isNavClosed">歷史記錄</span>
          </li>
          <li [routerLink]="'/chiller'" routerLinkActive="active">
            <span class="text" *ngIf="!isNavClosed">智慧控制頁面</span>
          </li>
        </ng-container>

        <li *ngIf="!isLoggedIn" [routerLink]="'/login'" routerLinkActive="active">
          <span class="text" *ngIf="!isNavClosed">LogIn</span>
        </li>
      </ul>
      <div class="side-nav-footer">
        <img src="assets/logo_no_bg.png" alt="Logo">
      </div>
    </nav>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>