<div class="app-container">
  <header class="title-bar">
    <button class="menu-button" (click)="toggleNav()">☰</button>
    <h1>AI-COS</h1>
    
    <button *ngIf="isLoggedIn$ | async" (click)="logout()" class="logout-btn">
      登出
    </button>
  </header>

  <div class="main-layout">
    <nav class="side-nav" [class.closed]="isNavClosed">
      
      <ul *ngIf="{ value: isLoggedIn$ | async } as loginState">
        
        <ng-container *ngIf="loginState.value">
          <li [routerLink]="'/dashboard'" routerLinkActive="active">
            <span class="text" *ngIf="!isNavClosed">主頁 </span>
          </li>
          
          <li [routerLink]="'/history'" routerLinkActive="active">
            <span class="text" *ngIf="!isNavClosed">歷史記錄 </span>
          </li>
          
          <li [routerLink]="'/chiller-control'" routerLinkActive="active" *ngIf="userRole === 'admin' || userRole === 'user'">
            <span class="text" *ngIf="!isNavClosed">智慧控制</span>
          </li>

          <li [routerLink]="'/user-management'" routerLinkActive="active" *ngIf="userRole === 'admin'">
            <span class="text" *ngIf="!isNavClosed">使用者管理</span>
          </li>

          <li (click)="logout()" style="cursor: pointer;" class="logout-item">
            <span class="text" *ngIf="!isNavClosed">登出 (Logout)</span>
          </li>
        </ng-container>

        <li *ngIf="!loginState.value" [routerLink]="'/login'" routerLinkActive="active">
          <span class="text" *ngIf="!isNavClosed">LogIn</span>
        </li>

      </ul>

      <div class="side-nav-footer">
        <img src="assets/logo_no_bg.png" alt="Logo">
      </div>
    </nav>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>