// 🌞 Light Theme Colors
$primary-color: #5b8ecd;
$secondary-color: #eef2f5;
$highlight-color: #1976d2;
$text-color: #3b536b;
$title-txt-color: #f1f0ff;
$border-color: #e0e0e0;
$background-color: #f8f9fa;
$card-background: #ffffff;

//animation
$transition-speed: 0.3s;
